.main_container{
    display:flex;
}

.left_container{
width: 390px;
    height: 421px;
        margin-left: 105px;
        margin-top:50px;
}
.heading{
    width: 340px;
    color:white;
}
.list{
    list-style: none;
    font-size: 14px;
    color: white;
}

.image{
    width: 30px;
        margin-bottom: 12px;
        position: relative;
        top: 23px;
        right: 31px;
}

span{
    color: #0096FF;
}

.sp{
    color: white;
    text-decoration: line-through;
    text-decoration-color: red;
}